repos:
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3.14

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        additional_dependencies:
          - django-stubs
          - django
          - django-environ
        args: ['--ignore-missing-imports']
        exclude: 'migrations/'

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        additional_dependencies:
          - bandit[toml]
        args: ['-c', '.bandit.yaml', '-ll']

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: django-tests
        name: Django Tests
        entry: .venv/Scripts/python.exe manage.py test
        language: python
        pass_filenames: false
        always_run: true
